<% layout('./layouts/boilerplate.ejs') -%>
<script>
  let mapToken = "<%=process.env.MAPBOX_TOKEN%>";
  let listing = JSON.parse('<%- JSON.stringify(listing) %>');
</script>

<div class="row mt-3">
  <div>
    <h3 class="title col-8 offset-2"><%=listing.title%></h3>
  </div>
  <div class="card col-6 offset-2 show-card listing-card" style="width: 35rem">
    <img
      src="<%=listing.image.url%>"
      class="card-img-top show-img"
      alt="listing-image"
    />
  </div>
  <div class="card-body col-8 offset-2">
    <p>Owener name: <i><%=listing.owner.username%></i></p>
    <p><%=listing.description%></p>
    <p>&#8377;<%=listing.price.toLocaleString('en-IN')%></p>
    <p><%=listing.location%></p>
    <p><%=listing.country%></p>
  </div>

  <%if(currUser && currUser._id.equals(listing.owner._id)){ %>
  <div class="btns">
    <a
      href="/listings/<%=listing.id%>/edit"
      class="btn btn-dark col-1 offset-2 mt-3 edit-btn"
      >Edit</a
    >

    <form action="/listings/<%=listing.id%>?_method=DELETE" method="POST">
      <button type="submit" class="btn btn-dark co1-1 offset-2 mt-3">
        Delete
      </button>
    </form>
  </div>

  <%}%>

  <hr />
  <div class="col-8 offset-2">
    <%if(currUser){%>
    <h4>Leave a Review</h4>
    <form
      class="mb-3 needs-validation"
      action="/listings/<%=listing.id%>/reviews"
      method="POST"
      novalidate
    >
      <div class="mb-3 mt-3">
        <label for="rating" class="form-label">Rating</label>
        <input
          type="range"
          min="1"
          max="5"
          id="rating"
          name="review[rating]"
          class="form-range"
        />
      </div>

      <div class="mb-3 mt-3">
        <label for="comments" class="form-label">Comments</label>
        <textarea
          name="review[comment]"
          id="comment"
          cols="30"
          rows="10"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please add some comments for review</div>
      </div>
      <button class="btn btn-outline-dark">Submit</button>
    </form>

    <hr />
    <%}%> <%if(listing.review.length>0){%>
    <h4>All Reviews</h4>
    <!-- check -->
    <!-- <p><%=listing.review %></p>  -->
    <div class="row">
      <%for(let review of listing.review) {%>
      <div class="card ms-3 mt-3 col-5">
        <div class="card-body">
          <p class="card-title"><i><%=review.author.username%></i></p>
          <p class="card-text"><%=review.comment%></p>
          <p class="card-text"><%=review.rating%> Stars</p>
          <form
            class="mb-3"
            method="POST"
            action="/listings/<%=listing.id%>/reviews/<%=review.id%>?_method=DELETE"
          >
            <button class="btn btn-dark btn-sm" type="submit">Delete</button>
          </form>
        </div>
      </div>
      <% } %>
    </div>
    <%}%>
    <div class="col-8 offset-2">
      <h4>Where you’ll be</h4>
      <div id="map"></div>
    </div>
  </div>
</div>

<script src="/JS/map.js"></script>
